/* Variables */

$verde: #51cca8;
$verde-oscuro: darken($verde, 10%);
$celeste: #51b9cc;
$azul: #5c92cc;
$violeta: #6d81d0;
$blanco: #fff;
$gris: #555;
$gris-claro: lighten($gris, 50%);
$fs-base: 10px;
$fs-h1: 50px;
$fs-h2: 40px;
$fs-h3: $fs-base * 3.2;
$fs-p: $fs-base * 1.6;
$padding-secciones: 80px 0;
